<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Extension Configuration</title>
    <link rel="stylesheet" href="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/css/coral.css">
    <link rel="stylesheet" href="../global.css">
    <script>
      window.Coral = window.Coral || {};
      Coral.options = { typeKitId: 'buj6cmr'};
    </script>
  
    <script src="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/js/libs/jquery.js"></script>
    <script src="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/js/coral.js"></script>
  </head>
  <body class="coral--light">
    <div id="success-modal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <img src="../modal-header.png" />
        <div class="modal-text">
          <div style="text-align:center; margin-bottom:20px;">
            <img src="https://s3.amazonaws.com/platformcl/Prod/images/evidonLogo.png" width="100"; />
          </div>
          <h1 class="coral-Heading coral-Heading--1">Thanks for your interest in the Evidon Consent Platform</h1>
          <p style="width:450px;">We'll be in touch shortly. Learn more about our <a href="https://www.evidon.com/solutions/gdpr/" target="_blank">patented consent platform</a> that provides a simple solution for compliance with privacy laws and programs around the world.</p>
        </div>
      </div>
    </div>

    <div>
      <h3 class="coral-Heading coral-Heading--3">Evidon Consent Platform</h3>
      <p>Evidon is the leading provider of simple solutions to complex digital problems. Whether it’s GDPR, PIPEDA, or the 
        ePrivacy Directive, our patented, easy to use technology keeps your sites in compliance with changing privacy laws 
        and programs around the world.</p>
    </div>
  <hr />

  <form>
    <h3 class="coral-Heading coral-Heading--3">Settings</h3>
      <p>For current Evidon customers, please enter the Adobe Launch code found on your site notice.</p>
      <h4 class="coral-Heading coral-Heading--4">Site Notice Adobe Launch Code 
        <div class="tooltip">
          <span class="tooltiptext">Find the Adobe Launch Code in Evidon Privacy Tools. Open your site notice in Evidon Privacy Tools, click "View Tag."</span>
        </div>
        </h4>
      <input type="text" id="launchCode" class="lrg-txtbox" placeholder="Paste code from Site Notice" onblur="decodeJson()" />
      <div id="errorMessage">An error occurred with your launch code. Please verify and try pasting again.</div>
      <div id="noticeDetails">
        <label>Notice Name:</label><span id="noticeName"></span><br />
        <label>Country:</label><span id="noticeCountry"></span><br />
        <label>Language:</label><span id="noticeLanguage"></span><br />
        <label>Notice Type:</label><span id="noticeType"></span>
      </div>

      <h4 class="coral-Heading coral-Heading--4">Cookie Expiration</h4>
      <input type="text" id="cookieExpiration" class="lrg-smlbox"> <span>Months</span>
      <div style="display:none;">
        <h4 class="coral-Heading coral-Heading--4">Actions that Accept or Close Banner</h4>
        <label><input type="checkbox" id="clickAcceptButton" value="1" checked disabled>Click Accept Button</label><br />
        <label><input type="checkbox" id="clickAnywhereOnPage" value="2">Click anywhere on page</label><br />
        <label><input type="checkbox" id="navigateToAnotherPage" value="3">Navigate to another page</label><br />
        <label><input type="checkbox" id="scrollPage" value="4">Scroll page</label>
      </div>
      <div id="in-pageIntr" style="display:none;">
        <p>This type of notice requires the following html to be on your site:</p>
        <pre>&lt;a id="_bapw-link" href="#" target="_blank" style="text-decoration:none !important"&gt;
  &lt;span style="vertical-align:middle !important"&gt;Cookie consent&lt;/span&gt;
&lt;/a&gt;</pre>
      </div>
      <div id="in-page-impliedIntr" style="display:none;">
        <p>This type of notice requires the following html to be on your site:</p>
        <pre>&lt;a id="_bapw-link" href="#" target="_blank" style="text-decoration:none !important"&gt;
  &lt;img id="_bapw-icon" style="border:0 !important;display:inline !important;vertical-align:middle !important;padding-right:5px !important;"/&gt;
  &lt;span style="vertical-align:middle !important"&gt;AdChoices&lt;/span&gt;
&lt;/a&gt;</pre>
      </div>
  </form>

  <hr />
  <div style="display:none;">
    <textarea id="textSixtyFour" rows="10" cols="100"></textarea>
    <button onclick="encodeJson()">Make Encoded Json</button>
  </div>
  <div id="contact-section">
  <h3 class="coral-Heading coral-Heading--3">Interested in using the Evidon Consent Platform?</h3>
  <p>Fill out the form below and we'll contact you with additional details.</p>
  <p id="invalidMessage">All fields below are required. Please fix and submit again.</p>
  <!-- <button id="testMarketo" onclick="submitMarketo()">Test Marketo</button> -->
  <div id="marketoMessage"></div>


  <script src="//app-sjp.marketo.com/js/forms2/js/forms2.min.js"></script>
  <form id="mktoForm_1725" style="display:none;"></form>
  <form id="evidon_lead">
    <div>
      <label>* First Name:</lable>
      <input type="text" id="e_FirstName" />  
    </div>
    <div>
        <label>* Last Name:</lable>
        <input type="text" id="e_LastName" />  
    </div>
    <div>
        <label>* Job Title:</lable>
        <input type="text" id="e_Title" />  
    </div>
    <div>
        <label>* Company:</lable>
        <input type="text" id="e_Company" />  
    </div>
    <div>
        <label>* Email Address:</lable>
        <input type="text" id="e_Email" />  
    </div>
  </form>
  <button style="clear:both; border-radius:12px; background-color:white; border: solid 1px #444; padding:3px 10px;" type="button" id="evidon_lead_button" onclick="submitMarketo()">Send</button>
</div>
  <script>
    MktoForms2.loadForm("//app-sjp.marketo.com", "338-XKU-741", 1704, function(form) {
                form.onSuccess(function(values, followUpUrl) {
                  document.getElementById('contact-section').style.display = 'none';
                  showModal();
                  //document.getElementById('marketoMessage').innerHTML = "Successfully submitted form. Thanks.";
                    return false;
                });
            });
    
  </script>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            document.getElementById('cookieExpiration').value = (info.settings && info.settings.cookieExpiration) || '';
            noticeObj = {
              'CId' : info.settings.companyId,
              'NId' : info.settings.noticeId,
              'Name' : info.settings.name,
              'Country' : info.settings.country,
              'Language' : info.settings.language,
              'Type' : info.settings.type 
              };
              populateObj(noticeObj);
          }
        },

        getSettings: function() {
          if(noticeObj){
            return {
            companyId: noticeObj.CId,
            noticeId: noticeObj.NId,
            name: noticeObj.Name,
            country: noticeObj.Country,
            language: noticeObj.Language,
            type: noticeObj.Type,
            cookieExpiration: document.getElementById('cookieExpiration').value || '',
            //clickAcceptButton: document.getElementById('clickAcceptButton').checked,
            //clickAnywhereOnPage: document.getElementById('clickAnywhereOnPage').checked,
            //navigateToAnotherPage: document.getElementById('navigateToAnotherPage').checked,
            //scrollPage: document.getElementById('scrollPage').checked,
          };
          } else {
            return null;
          }
          
        },

        validate: function() {
          var cookieExpField = document.getElementById('cookieExpiration');
          var months = Number(cookieExpField.value);
          cookieExpField.invalid = isNaN(months) || months < 1;
          
          //validate imported items.
          var importedObjExists = noticeObj != null;
          var objHasCid = noticeObj.CId && noticeObj.CId > 0;
          var objHasNId = noticeObj.NId && noticeObj.NId > 0;

          return !cookieExpField.invalid && importedObjExists && objHasCid && objHasNId;
        }
      });

      var myObj = {
        'CId' : 242,
        'NId' : 34567,
        'Name' : 'Chucks\'s Notice',
        'Country' : 'Brazil',
        'Language' : 'Portuguese',
        'Type' : 'Persistent with Implied Consent' 
        };
      function encodeJson(){
        let objJsonStr = JSON.stringify(myObj);
        let objJsonB64 = btoa(objJsonStr);//.toString('base64');
        var textSixtyFour = document.getElementById('textSixtyFour');
        textSixtyFour.value = objJsonB64;
      }
      
      var noticeObj = null;

      function decodeJson(){
        try{
          //init messages
          document.getElementById('in-pageIntr').style.display = 'none';
          document.getElementById('in-page-impliedIntr').style.display = 'none';
          document.getElementById('noticeDetails').style.display = 'none';

          var launchCode = document.getElementById('launchCode');
          if(launchCode.value && launchCode.value.length > 10) {
            let objJsonB64 = launchCode.value;
            let objJsonStr = atob(objJsonB64);
            
            noticeObj = JSON.parse(objJsonStr);

            populateObj(noticeObj);

          }
        } catch(err) {
          document.getElementById('noticeDetails').style.display = 'none';
          document.getElementById('errorMessage').style.display = 'block';
          console.log(err);
        }
      }

      function populateObj(notice){
        document.getElementById('noticeName').innerHTML = notice.Name;
        document.getElementById('noticeCountry').innerHTML = notice.Country;
        document.getElementById('noticeLanguage').innerHTML = notice.Language;
        document.getElementById('noticeType').innerHTML = displayNoticeType(notice.Type);
        document.getElementById('noticeDetails').style.display = 'block';
        document.getElementById('errorMessage').style.display = 'none';

        if(notice.Type == 'in-page' || notice.Type == 'in-page implied') {
            document.getElementById('in-pageIntr').style.display = 'none';
            document.getElementById('in-page-impliedIntr').style.display = 'block';
        } else {
          document.getElementById('in-pageIntr').style.display = 'none';
          document.getElementById('in-page-impliedIntr').style.display = 'none';
        }
      }

      function displayNoticeType(noticeType){
        switch(noticeType) {
          case 'in-page': // link
            return 'Link';
          case 'hover': // persistent
            return 'Persistent';
          case 'explicit': // explicit
              return 'Hover Explicit'
          case 'in-page implied': // Link with Implied
              return 'Link with implied'
          case 'hover implied': // persistent with implied
              return 'Persistent with implied';
        }   
      }

      function submitMarketo(){
        
        var firstName = document.getElementById('e_FirstName').value;
        var lastName = document.getElementById('e_LastName').value;
        var title = document.getElementById('e_Title').value;
        var company = document.getElementById('e_Company').value;
        var email = document.getElementById('e_Email').value;

        if(firstName.length > 0 && lastName.length > 0 && title.length > 0 && company.length > 0 && email.length > 0 ){
          document.getElementById('invalidMessage').style.display = 'none';
          var myForm = MktoForms2.allForms()[0];
          myForm.addHiddenFields(
          {
            'FirstName': firstName,
            'LastName': lastName,
            'Title' : title,
            'Company' : company,
            'Email': email
          });
          myForm.submit();
          //console.log('submitted form for marketo successfully');
        } else {
          document.getElementById('invalidMessage').style.display = 'block';
        }
      }
      function showModal(){
        var modal = document.getElementById('success-modal');
        modal.style.display = 'block';
      }

      function closeModal(){
        var modal = document.getElementById('success-modal');
        modal.style.display = 'none';
      }

    </script>
  </body>
</html>
