<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Extension Configuration</title>
    <link rel="stylesheet" href="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/css/coral.css">
    <link rel="stylesheet" href="../global.css">
    <script>
      window.Coral = window.Coral || {};
      Coral.options = { typeKitId: 'buj6cmr'};
    </script>
  
    <script src="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/js/libs/jquery.js"></script>
    <script src="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/js/coral.js"></script>
  </head>
  <body class="coral--light">
    <div>
      <h3 class="coral-Heading coral-Heading--3">Evidon Consent Platform</h3>
      <p>Evidon is the leading provider of simple solutions to complex digital problems. Whether it’s GDPR, PIPEDA, or the 
        ePrivacy Directive, our patented, easy to use technology keeps your sites in compliance with changing privacy laws 
        and programs around the world.</p>
    </div>
  <hr />

  <form>
    <h3 class="coral-Heading coral-Heading--3">Settings</h3>
      <p>For current Evidon customers, please enter the Adobe Launch code found on your site notice.</p>
      <h4 class="coral-Heading coral-Heading--4">Site Notice Adobe Launch Code 
        <div class="tooltip">
          <span class="tooltiptext">Find the Adobe Launch Code in Evidon Privacy Tools. Open your site notice in Evidon Privacy Tools, click "View Tag."</span>
        </div>
        </h4>
      <input type="text" id="launchCode" class="lrg-txtbox" placeholder="Paste code from Site Notice" onblur="decodeJson()" />
      <div id="errorMessage">An error occurred with your launch code. Please verify and try pasting again.</div>
      <div id="noticeDetails">
        <label>Notice Name:</label><span id="noticeName"></span><br />
        <label>Country:</label><span id="noticeCountry"></span><br />
        <label>Language:</label><span id="noticeLanguage"></span><br />
        <label>Notice Type:</label><span id="noticeType"></span>
      </div>

      <h4 class="coral-Heading coral-Heading--4">Cookie Expiration</h4>
      <input type="text" id="cookieExpiration" class="lrg-smlbox"> <span>Months</span>
      <h4 class="coral-Heading coral-Heading--4">Actions that Accept or Close Banner</h4>
      <label><input type="checkbox" id="clickAcceptButton" value="1" checked disabled>Click Accept Button</label><br />
      <label><input type="checkbox" id="clickAnywhereOnPage" value="2">Click anywhere on page</label><br />
      <label><input type="checkbox" id="navigateToAnotherPage" value="3">Navigate to another page</label><br />
      <label><input type="checkbox" id="scrollPage" value="4">Scroll page</label>
  </form>

  <hr />
  <div style="display:none;">
    <textarea id="textSixtyFour" rows="10" cols="100"></textarea>
    <button onclick="encodeJson()">Make Encoded Json</button>
  </div>
  
  <h3 class="coral-Heading coral-Heading--3">Interested in using the Evidon Consent Platform?</h3>
  <p>Fill out the form below and we'll contact you with additional details.</p>

  <script src="//app-sjp.marketo.com/js/forms2/js/forms2.min.js"></script>
  <form id="mktoForm_1704"></form>
  <script>MktoForms2.loadForm("//app-sjp.marketo.com", "338-XKU-741", 1704);</script>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      window.extensionBridge.register({
        init: function(info) {
          if (info.settings) {
            document.getElementById('cookieExpiration').value = (info.settings && info.settings.cookieExpiration) || '';
            noticeObj = {
              'CId' : info.settings.companyId,
              'NId' : info.settings.noticeId,
              'Name' : info.settings.name,
              'Country' : info.settings.country,
              'Language' : info.settings.language,
              'Type' : info.settings.type 
              };
              populateObj(noticeObj);
          }
        },

        getSettings: function() {
          return {
            companyId: noticeObj.CId,
            noticeId: noticeObj.NId,
            name: noticeObj.Name,
            country: noticeObj.Country,
            language: noticeObj.Language,
            type: noticeObj.Type,
            cookieExpiration: document.getElementById('cookieExpiration').value || '',
            clickAcceptButton: document.getElementById('clickAcceptButton').checked,
            clickAnywhereOnPage: document.getElementById('clickAnywhereOnPage').checked,
            navigateToAnotherPage: document.getElementById('navigateToAnotherPage').checked,
            scrollPage: document.getElementById('scrollPage').checked,
          };
        },

        validate: function() {
          var cookieExpField = document.getElementById('cookieExpiration');
          var months = Number(cookieExpField.value);
          cookieExpField.invalid = isNaN(months) || months < 1;
          
          //validate imported items.
          var importedObjExists = noticeObj != null;
          var objHasCid = noticeObj.CId && noticeObj.CId > 0;
          var objHasNId = noticeObj.NId && noticeObj.NId > 0;

          return !cookieExpField.invalid && importedObjExists && objHasCid && objHasNId;
        }
      });

      var myObj = {
        'CId' : 242,
        'NId' : 34567,
        'Name' : 'Chucks\'s',
        'Country' : 'Brazil',
        'Language' : 'Portuguese',
        'Type' : 'Persistent with Implied Consent' 
        };

      var noticeObj = null;

      function encodeJson(){
        let objJsonStr = JSON.stringify(myObj);
        let objJsonB64 = btoa(objJsonStr);//.toString('base64');
        var textSixtyFour = document.getElementById('textSixtyFour');
        textSixtyFour.value = objJsonB64;
      }

      function decodeJson(){
        try{
          var launchCode = document.getElementById('launchCode');
          if(launchCode.value && launchCode.value.length > 10) {
            let objJsonB64 = launchCode.value;
            let objJsonStr = atob(objJsonB64);
            
            noticeObj = JSON.parse(objJsonStr);

            populateObj(noticeObj);

          }
        } catch(err) {
          document.getElementById('noticeDetails').style.display = 'none';
          document.getElementById('errorMessage').style.display = 'block';
        }
        
        
        
      }

      function populateObj(notice){
        document.getElementById('noticeName').innerHTML = notice.Name;
            document.getElementById('noticeCountry').innerHTML = notice.Country;
            document.getElementById('noticeLanguage').innerHTML = notice.Language;
            document.getElementById('noticeType').innerHTML = notice.Type;

            document.getElementById('noticeDetails').style.display = 'block';
            document.getElementById('errorMessage').style.display = 'none';
      }

    </script>
  </body>
</html>
