body {
    padding: 20px;
  }
  
  .label {
    line-height: 36px;
    margin-right: 8px;
  }
  
  .u-gapRight {
    margin-right: 8px;
  }
  h1.coral-Heading--1 { font-size:1.5em;  margin:10px 0 8px 0; font-weight:bolder; }  
 h3.coral-Heading--3 { font-size:1.1em; color: #395492; margin:10px 0 8px 0; }
 h4.coral-Heading--4 { font-size:1.0em; margin:15px 0 13px 0;}

 hr {     border: solid 1px #f2f2f2; margin:20px 0 20px 0; }

 p { width:610px; }

 input.lrg-txtbox { width: 350px; }
 input.lrg-smlbox { width: 25px; }

 label input[type="checkbox"] {margin-right:10px; }

#noticeDetails { display:none; }
#noticeDetails label, #noticeDetails span { font-size:1.0em; padding:7px 5px 7px 0; }
#noticeDetails label { font-weight: bold;}
#noticeDetails span { display:inline-block; }
#errorMessage { color:red; display:none;}

/* Tooltip container

data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDUlEQVQ4T63TvyvGURTH8ddjUOIf8CMZ/EgGo9moLCZRNtnYpGQV2WRQRilKMeA/sFglIcpEVgxMdOveur7dRz1xp+8953ze55zvPafmj6dW0HdiAePojf57nGITT7mmCpjBNlrrFPaOOewnfw4I4t2K8AghZiKzf2EaB8GWAF24KWRuizFvFXC4D+A5ATawWCj7DE0YK/jWsJwA1xisBD3gHN0YLQAuMZwAn2guBKXejwu+D7T8G+AKQw1W8KOFdSw1CFjFSmqhA7cIz5afev/gFf14yQcpDMdeNhuPuIi0EfTE7zBIkzjMByllncJOoZLkD5lnk7gECLZ2zMdl6ovKO5xgK5T92zI1vNzfyLkyEa+pqlIAAAAASUVORK5CYII=

*/
.tooltip {
  position: relative;
  display: inline-block;
  width:16px; height:16px;
  /* border-bottom: 1px dotted black;  If you want dots under the hoverable text */
  background: 
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABDUlEQVQ4T63TvyvGURTH8ddjUOIf8CMZ/EgGo9moLCZRNtnYpGQV2WRQRilKMeA/sFglIcpEVgxMdOveur7dRz1xp+8953ze55zvPafmj6dW0HdiAePojf57nGITT7mmCpjBNlrrFPaOOewnfw4I4t2K8AghZiKzf2EaB8GWAF24KWRuizFvFXC4D+A5ATawWCj7DE0YK/jWsJwA1xisBD3gHN0YLQAuMZwAn2guBKXejwu+D7T8G+AKQw1W8KOFdSw1CFjFSmqhA7cIz5afev/gFf14yQcpDMdeNhuPuIi0EfTE7zBIkzjMByllncJOoZLkD5lnk7gECLZ2zMdl6ovKO5xgK5T92zI1vNzfyLkyEa+pqlIAAAAASUVORK5CYII=)
    no-repeat;
  background-size: 12px 12px; top:6px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #1884ec;
  color: #fff;
  padding: 8px;
  border-radius: 4px; font-size:0.9em; 

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 125%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #1884ec transparent transparent;
}

p#invalidMessage { color:red; display:none; }

#evidon_lead  {  width:500px; overflow:auto;}
#evidon_lead div {  width:200px; float:left; padding:0 0 20px 0; }
/* #evidon_lead label { display:block; padding:10px; } */
#evidon_lead div input { display:block; float:none;  width:150px; margin-top:10px; }

.modal { 
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 0px;
  border: 1px solid #888;
  width: 600px;
  position:relative;
  box-shadow: 2px 2px 5px #777;
}
.close {
  color: #aaa;
  font-size: 1.5em;
  font-weight: bold;
  background-color:#4b4b4b;
  position:absolute;
  border-radius:50%;
  width:12px;
  height: 12px;
  padding:5px; line-height:6px;
  right: -7px;
  top:-7px;
}
.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.modal-text { padding:10px 70px 70px 70px; word-wrap:break-word; }